@import url(./iconfont.css);
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, form, img, input, filter, table, tr, td, th {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

span {
  display: block;
}

img {
  border: none;
  display: block;
}

ul, ol {
  list-style: none;
}

i {
  display: block;
  font-size: 0.25rem;
}

html {
  font-size: 26.67vw;
  height: 100%;
}

body {
  font-family: "Microsoft YaHei",Arial;
  height: 100%;
}

.commen-title {
  color: #000000;
}

.commen-content {
  color: #333333;
}

section {
  padding-top: 0.44rem;
}

header {
  height: 0.44rem;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;
  background: white;
  padding: 0 0.1rem;
  position: fixed;
  width: 3.55rem;
  z-index: 100;
}

header img {
  height: 0.37rem;
  width: 0.48rem;
}

header .header_list i {
  font-size: 0.25rem;
  color: #111146;
}

.title_same {
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
}

.title_same h3 {
  font-size: 0.19rem;
  color: #000000;
}

.title_same h4 {
  margin-top: 0.09rem;
  font-size: 0.08rem;
  color: #333333;
}

.title_same div {
  margin-top: 0.1rem;
  display: -webkit-flex;
}

.title_same div span {
  width: 0.11rem;
  height: 2px;
  background: #111146;
}

.title_same div span:nth-of-type(2) {
  background: #fdd435;
}

.product_list_same {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}

.product_list_same img {
  width: 1.75rem;
  height: 1.75rem;
}

.product_list_same h4 {
  margin-top: 0.08rem;
  font-size: 0.14rem;
  color: #000000;
  line-height: 0.22rem;
}

.product_list_same p {
  font-size: 0.1rem;
  color: #333333;
  line-height: 0.18rem;
}

.button_same {
  width: 1.2rem;
  line-height: 0.36rem;
  text-align: center;
  background: #fdd435;
  color: #111146;
  font-size: 0.13rem;
}

.moreitem_same {
  width: 1.31rem;
  height: 0.54rem;
  background: url(../images/bg_item4_1mob.jpg) no-repeat center;
  background-size: contain;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  text-align: center;
}

.moreitem_same .moreone {
  color: #ffffff;
  font-size: 0.11rem;
}

.moreitem_same .moretwo {
  color: #ffffff;
  font-size: 0.06rem;
  transform: scale(0.6);
  white-space: nowrap;
}

.moreitem_same:nth-of-type(2) {
  background: url(../images/bg_item4_2mob.jpg) no-repeat center;
}

.moreitem_same:nth-of-type(3) {
  background: url(../images/bg_item4_3mob.jpg) no-repeat center;
}

.moreitem_same:nth-of-type(4) {
  background: url(../images/bg_item4_4mob.jpg) no-repeat center;
}

.news_same .news_same_lbt .news_same_lbt_main {
  width: 100%;
  height: 1.2rem;
  background: #e5e5e5;
}

.news_same .news_same_lbt .news_same_lbt_msg {
  width: 100%;
}

.news_same .news_same_lbt .news_same_lbt_msg p {
  line-height: 0.34rem;
  font-size: 0.12rem;
  color: #000000;
  background: #fdd435;
  padding-left: 0.1rem;
  font-weight: 600;
}

.news_same .news_same_content .news_same_content_list {
  height: 0.82rem;
  border: 1px solid #dfdfdf;
  display: -webkit-flex;
  -webkit-justify-content: center;
}

.news_same .news_same_content .news_same_content_list .news_same_content_list_left {
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  padding-right: 0.18rem;
  position: relative;
}

.news_same .news_same_content .news_same_content_list .news_same_content_list_left b {
  position: absolute;
  right: 0px;
  width: 1px;
  height: 0.51rem;
  background: #797979;
}

.news_same .news_same_content .news_same_content_list .news_same_content_list_left p {
  color: #000000;
  font-size: 0.1rem;
  color: #262626;
}

.news_same .news_same_content .news_same_content_list .news_same_content_list_left .date {
  display: -webkit-flex;
  -webkit-align-items: center;
}

.news_same .news_same_content .news_same_content_list .news_same_content_list_left .date span {
  font-size: 0.15rem;
}

.news_same .news_same_content .news_same_content_list .news_same_content_list_left i {
  width: 0.42rem;
  height: 2px;
  background: #000000;
}

.news_same .news_same_content .news_same_content_list .news_same_content_list_right {
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  width: 2.35rem;
  padding-left: 0.12rem;
}

.news_same .news_same_content .news_same_content_list .news_same_content_list_right h3 {
  font-size: 0.12rem;
  color: #333333;
  line-height: 0.125rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.news_same .news_same_content .news_same_content_list .news_same_content_list_right p {
  font-size: 0.1rem;
  line-height: 0.15rem;
  color: #666666;
  margin-top: 0.07rem;
}

.sameshop {
  display: -webkit-flex;
  -webkit-justify-content: center;
}

.sameshop a {
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  margin: 0 0.1rem;
}

.sameshop a img {
  width: 1.13rem;
  height: 0.54rem;
}

.sameshop a span {
  font-size: 0.14rem;
  color: #000000;
  line-height: 0.36rem;
}

.address_same {
  padding-top: 0.03rem;
  padding-bottom: 0.26rem;
}

.address_same .address_same_all {
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  margin-top: 0.12rem;
}

.address_same .address_same_all i {
  font-size: 0.2rem;
  color: #2a2a2a;
}

.address_same .address_same_all p {
  font-size: 0.1rem;
  color: #000000;
  line-height: 0.16rem;
}

.address_same .address_same_all span {
  font-size: 0.06rem;
  transform: scale(0.5);
  color: #cccccc;
  line-height: 0.06rem;
}

footer {
  background: #111146;
  padding: 0 0.1rem;
}

footer .footer_top {
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
  border-bottom: 1px solid #292959;
}

footer .footer_top h2 {
  font-size: 0.18rem;
  color: #ffffff;
  line-height: 0.18rem;
  margin: 0.18rem 0 0.24rem;
  font-weight: 100;
}

footer .footer_top .footer_erm {
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  margin-bottom: 0.07rem;
}

footer .footer_top .footer_erm a {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  margin: 0 0.13rem;
}

footer .footer_top .footer_erm a img {
  width: 0.78rem;
  height: 0.78rem;
}

footer .footer_top .footer_erm a span {
  font-size: 0.09rem;
  transform: scale(0.8);
  color: #ffffff;
  line-height: 0.19rem;
}

footer .footer_bottom {
  height: 0.32rem;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}

footer .footer_bottom p {
  font-size: 0.06rem;
  transform: scale(0.6);
  color: #ffffff;
  white-space: nowrap;
}

.same_addme {
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-wrap: wrap;
}

.same_addme .same_addme_list {
  margin-top: 0.2rem;
}

.same_addme .same_addme_list .same_addme_list_top {
  background: url("../images/join/bg_round_default_mob.png") no-repeat center;
  background-size: cover;
  width: 0.87rem;
  height: 0.87rem;
  margin-left: 0.19rem;
  margin-right: 0.19rem;
  border-radius: 50%;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
}

.same_addme .same_addme_list .same_addme_list_top i {
  font-size: 0.24rem;
  color: #ffffff;
  margin-bottom: 0.08rem;
}

.same_addme .same_addme_list .same_addme_list_top p {
  font-size: 0.12rem;
  color: #262626;
  line-height: 0.12rem;
  margin-top: 0.08rem;
}

.same_addme .same_addme_list .same_addme_list_bto {
  font-size: 0.12rem;
  color: #262626;
  line-height: 0.12rem;
  margin-top: 0.1rem;
  text-align: center;
}

.procenter_addme_title {
  border-bottom: 1px solid #a6a6b0;
  text-align: center;
}

.procenter_addme_title h3 {
  font-size: 0.15rem;
  color: #000000;
  line-height: 0.15rem;
}

.procenter_addme_title h4 {
  font-size: 0.12rem;
  color: #000000;
  line-height: 0.12rem;
  padding: 0.12rem 0 0.18rem;
}

.procenter_addme_input {
  margin-top: 0.22rem;
  padding: 0 0.1rem;
}

.procenter_addme_input .procenter_addme_inputc {
  background: white;
  padding-top: 0.3rem;
  padding-bottom: 0.19rem;
}

.procenter_addme_input .procenter_addme_inputc .button_same {
  background-color: #111146;
  color: #fdd435;
  margin: 0.15rem auto 0rem;
}

.procenter_addme_input .procenter_addme_inputc div {
  display: -webkit-flex;
  -webkit-justify-content: center;
  position: relative;
}

.procenter_addme_input .procenter_addme_inputc div span {
  font-size: 0.12rem;
  color: black;
  position: absolute;
  left: 0.4rem;
  top: 0.09rem;
}

.procenter_addme_input .procenter_addme_inputc div input {
  display: block;
  outline: none;
  height: 0.33rem;
  width: 2.44rem;
  margin-bottom: 0.08rem;
  padding-left: 0.45rem;
}

.procenter_addme_input .procenter_addme_inputc div textarea {
  outline: none;
  width: 2.44rem;
  height: 1.59rem;
  padding-left: 0.45rem;
  padding-top: 0.1rem;
}

.procenter_addme_same {
  background: #fdd330;
  padding-top: 0.21rem;
  padding-bottom: 0.35rem;
}

.static_nav {
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  width: 3.55rem;
  padding: 0 0.1rem;
  height: 100%;
  display: none;
  z-index: 102;
}

.static_nav .close {
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;
  height: 0.44rem;
}

.static_nav .close .ico_close {
  font-size: 0.3rem;
  background: white;
}

.static_nav .ico_logo {
  font-size: 0.6rem;
  line-height: 0.8rem;
  border-bottom: 1px solid #a9a4a5;
  text-align: center;
}

.static_nav a {
  font-size: 0.16rem;
  color: #000000;
  line-height: 0.51rem;
  border-bottom: 1px solid #a9a4a5;
  text-align: center;
}

.foot_nav {
  display: -webkit-flex;
  height: 0.49rem;
  -webkit-align-items: center;
  background: #fdd435;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.foot_nav a {
  -webkit-flex: 1;
  text-align: center;
}

.foot_nav a i {
  font-size: 0.18rem;
  color: #050401;
}

.foot_nav a span {
  font-size: 0.12rem;
  color: #050401;
}
