@font-face {
  font-family: 'Mogo';
  src:  url('../fonts/Mogo.eot?vhkpv9');
  src:  url('../fonts/Mogo.eot?vhkpv9#iefix') format('embedded-opentype'),
    url('../fonts/Mogo.ttf?vhkpv9') format('truetype'),
    url('../fonts/Mogo.woff?vhkpv9') format('woff'),
    url('../fonts/Mogo.svg?vhkpv9#Mogo') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico_"], [class*=" ico_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Mogo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico_arrow_circle:before {
  content: "\e91e";
}
.ico_brand:before {
  content: "\e91f";
}
.ico_more:before {
  content: "\e920";
}
.ico_arrow_double:before {
  content: "\e921";
}
.ico_about:before {
  content: "\e900";
}
.ico_arrow:before {
  content: "\e901";
}
.ico_call:before {
  content: "\e902";
}
.ico_case:before {
  content: "\e903";
}
.ico_chat:before {
  content: "\e904";
}
.ico_close:before {
  content: "\e905";
}
.ico_contract:before {
  content: "\e906";
}
.ico_cooperation:before {
  content: "\e907";
}
.ico_exact:before {
  content: "\e908";
}
.ico_heart:before {
  content: "\e909";
}
.ico_home:before {
  content: "\e90a";
}
.ico_logo_color .path1:before {
  content: "\e90b";
  color: rgb(236, 108, 0);
}
.ico_logo_color .path2:before {
  content: "\e90c";
  margin-left: -1.3203125em;
  color: rgb(0, 44, 60);
}
.ico_logo_jdsv .path1:before {
  content: "\e90d";
  color: rgb(255, 255, 255);
}
.ico_logo_jdsv .path2:before {
  content: "\e90e";
  margin-left: -3.0234375em;
  color: rgb(0, 0, 0);
}
.ico_logo_jdsv .path3:before {
  content: "\e90f";
  margin-left: -3.0234375em;
  color: rgb(0, 0, 0);
}
.ico_logo_jdsv .path4:before {
  content: "\e910";
  margin-left: -3.0234375em;
  color: rgb(207, 10, 44);
}
.ico_logo_jdsv .path5:before {
  content: "\e911";
  margin-left: -3.0234375em;
  color: rgb(0, 0, 0);
}
.ico_logo_jdsv .path6:before {
  content: "\e912";
  margin-left: -3.0234375em;
  color: rgb(254, 254, 254);
}
.ico_logo_taobao:before {
  content: "\e913";
}
.ico_logo:before {
  content: "\e914";
}
.ico_mail:before {
  content: "\e915";
}
.ico_menu:before {
  content: "\e916";
}
.ico_phone:before {
  content: "\e917";
}
.ico_position:before {
  content: "\e918";
}
.ico_product:before {
  content: "\e919";
}
.ico_rule:before {
  content: "\e91a";
}
.ico_sale:before {
  content: "\e91b";
}
.ico_shop:before {
  content: "\e91c";
}
.ico_train:before {
  content: "\e91d";
}
