header i {
  font-size: 0.14rem;
}

header p {
  font-size: 0.17rem;
  color: #000000;
  line-height: 0.17rem;
}

section .sameshop {
  margin-top: 0.44rem;
}

section .online_addme {
  padding-top: 0.22rem;
  background: #fdd330;
  margin-top: 0.35rem;
  padding-bottom: 0.36rem;
}

section .online_addme .procenter_addme_title {
  border-bottom: 1px solid #e5bf32;
}

section .online_news {
  padding: 0.22rem 0.1rem 0.27rem;
  background: #f3f3f3;
}

section .online_news .title_same {
  margin-bottom: 0.19rem;
}

section .online_news .button_same {
  margin: 0.2rem auto 0;
}
