header i {
  font-size: 0.14rem;
}

header p {
  font-size: 0.17rem;
  color: #000000;
  line-height: 0.17rem;
}

section .top .top_product_img {
  width: 3.75rem;
  height: 3.75rem;
}

section .top .top_property .property_title {
  height: 0.61rem;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  border-bottom: 2px solid #e5e5e5;
}

section .top .top_property .property_title h3 {
  line-height: 0.2rem;
  font-size: 0.2rem;
  color: #000000;
}

section .top .top_property .property_name {
  border-bottom: 2px solid #e5e5e5;
}

section .top .top_property .property_name p {
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;
}

section .top .top_property .property_name p:nth-of-type(1) {
  height: 0.16rem;
}

section .top .top_property .property_name p:nth-of-type(1) span {
  font-size: 0.1rem;
  transform: scale(0.6);
  color: #989898;
  line-height: 0.1rem;
}

section .top .top_property .property_name p:nth-of-type(1) span:nth-of-type(1) {
  margin-left: 0.03rem;
}

section .top .top_property .property_name p:nth-of-type(1) span:nth-of-type(2) {
  margin-right: 0.15rem;
}

section .top .top_property .property_name p:nth-of-type(2) {
  height: 0.32rem;
  padding: 0 0.2rem 0 0.1rem;
}

section .top .top_property .property_name p:nth-of-type(2) span {
  font-size: 0.12rem;
  color: #333333;
  line-height: 0.12rem;
}

section .top .top_property .property_content {
  border-bottom: 2px solid #e5e5e5;
  padding-bottom: 0.1rem;
}

section .top .top_property .property_content span {
  font-size: 0.1rem;
  transform: scale(0.6);
  color: #989898;
  line-height: 0.25rem;
  margin-left: -0.8rem;
}

section .top .top_property .property_content p {
  line-height: 0.23rem;
  font-size: 0.12rem;
  color: #333333;
  padding: 0 0.1rem;
}

section .top .sameshop {
  padding: 0.32rem 0 0.25rem;
}

section .proc_content {
  background: #f5f5f5;
}

section .proc_content .proc_content_detail {
  padding: 0 0.1rem 0.35rem;
}

section .proc_content .proc_content_detail h3 {
  font-size: 0.19rem;
  height: 0.64rem;
  color: #000000;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}

section .proc_content .proc_content_detail .proc_content_detail_main {
  background: white;
  padding: 0.15rem 0;
}

section .proc_content .proc_content_detail .proc_content_detail_main p {
  padding: 0 0.21rem 0 0.14rem;
  font-size: 0.12rem;
  color: #333333;
  line-height: 0.2rem;
  margin-bottom: 0.2rem;
}

section .proc_content .proc_content_detail .proc_content_detail_main p:last-of-type {
  margin-bottom: 0rem;
}

section .proc_content .proc_content_detail .proc_content_detail_main img {
  width: 2.61rem;
  height: 1.39rem;
  margin: 0 auto 0.2rem;
}

section .moreproduct .title_same {
  padding: 0.25rem 0;
}

section .moreproduct .moreproduct_list {
  padding: 0 0.1rem;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
}

section .procenter_addme_same {
  margin-top: 0.3rem;
}

section .procenter_addme_same .procenter_addme_title {
  border: none;
}
