.mogosevice .title_same, .brandimage .title_same, .joinin .title_same {
  margin-top: 0.16rem;
  margin-bottom: 0.17rem;
}

.mogosevice .title_same img, .brandimage .title_same img, .joinin .title_same img {
  width: 2.32rem;
  height: 0.42rem;
}

.mogosevice .title_same h4, .brandimage .title_same h4, .joinin .title_same h4 {
  color: #b2b3b6;
}

.zsy_same_title {
  padding-top: 1.48rem;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
}

.zsy_same_title h1 {
  font-size: 0.56rem;
  color: #ffffff;
  line-height: 0.68rem;
  position: relative;
  width: 2.89rem;
  text-align: center;
}

.zsy_same_title h1 span {
  position: absolute;
  right: 0.46rem;
  top: 0.68rem;
  border-radius: 50%;
  font-size: 0.11rem;
  font-weight: 600;
  border: 3px solid #ffe81c;
  width: 0.17rem;
  height: 0.17rem;
  text-align: center;
  line-height: 0.17rem;
  color: #ffe81c;
}

.zsy_same_title h3 {
  margin-top: 0.12rem;
  font-size: 0.13rem;
  color: #ffe81c;
  line-height: 0.25rem;
  border-top: 1px solid #e7740e;
  border-bottom: 1px solid #e7740e;
  width: 1.48rem;
}

.zsy_same_title span {
  font-size: 0.06rem;
  color: #de4c09;
  transform: scale(0.7);
}

header {
  position: fixed;
  background: transparent;
  width: 100%;
  padding: 0;
}

header img {
  margin-left: 0.1rem;
}

header .header_list {
  margin-right: 0.1rem;
}

header .header_list i {
  color: #ffffff;
}

.top {
  height: 6.67rem;
  background: url(../images/join/zsjm_top_bg_mob.jpg) no-repeat center;
  background-size: cover;
}

.top .top_img img {
  width: 2.91rem;
  height: 2.29rem;
  margin: 0 auto;
  margin-top: 0.22rem;
}

.top .top_ad {
  margin-top: 0.4rem;
}

.top .top_ad img {
  width: 3.55rem;
  height: 0.56rem;
  margin: 0 auto;
}

.hot {
  background: #fdd435;
  margin-top: -0.1rem;
  padding-bottom: 0.48rem;
}

.hot .hot_title {
  padding-top: 0.6rem;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
}

.hot .hot_title h3 {
  font-size: 0.2rem;
  color: black;
  line-height: 0.25rem;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}

.hot .hot_title h3 img {
  width: 0.45rem;
  height: 0.21rem;
  margin-top: 1px;
}

.hot .hot_title p {
  font-size: 0.1rem;
  color: black;
  line-height: 0.25rem;
  width: 2.95rem;
  text-align: center;
  margin-top: 0.06rem;
}

.hot .hot_content {
  margin-top: 0.23rem;
  padding: 0 0.1rem;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
}

.hot .hot_content a img {
  width: 1.13rem;
  height: 1.48rem;
}

.hot .hot_content a p {
  font-size: 0.1rem;
  color: black;
  line-height: 0.2rem;
  text-align: center;
}

.preview {
  background: url("../images/join/zsjm_3bg_mob.jpg") no-repeat;
  background-size: cover;
  padding: 0 0.1rem 0.2rem;
}

.preview .preview_content h3 {
  display: -webkit-flex;
  -webkit-align-items: baseline;
  font-size: 0.24rem;
  color: #ffffff;
}

.preview .preview_content h3 p {
  display: -webkit-flex;
  -webkit-align-items: baseline;
  font-size: 0.24rem;
  color: #fdd435;
  border-bottom: 1px solid #fdd435;
}

.preview .preview_content h3 p span {
  font-size: 0.55rem;
  line-height: 0.65rem;
  color: #fdd435;
}

.preview .preview_content .preview_content_detail {
  margin-top: 0.15rem;
  font-size: 0.11rem;
  color: #ffffff;
  line-height: 0.19rem;
  width: 2.54rem;
}

.preview .preview_content .preview_content_msg {
  color: #6e769a;
  font-size: 0.06rem;
  transform: scale(0.8);
  width: 3.025rem;
  margin-left: -0.29rem;
}

.preview .preview_btn {
  margin: 0.34rem 0 0 0;
}

.preview .preview_btn i {
  font-size: 0.14rem;
  color: #ffba00;
}

.businesschange {
  padding-bottom: 0.15rem;
}

.businesschange img:nth-of-type(1) {
  width: 3.75rem;
  height: 2.68rem;
}

.businesschange img:nth-of-type(2) {
  width: 2.19rem;
  height: 2.24rem;
  margin: 0 auto;
}

.businesschange .title_same {
  margin-top: 0.2rem;
}

.businesschange .title_same h3 {
  font-size: 0.24rem;
  line-height: 0.24rem;
}

.businesschange .title_same h4 {
  color: #9e9e9e;
  width: 2.83rem;
  font-size: 0.1rem;
  transform: scale(0.6);
  text-align: center;
  line-height: 0.1rem;
  margin: 0;
}

.businesschange .title_same div {
  margin-top: 0.05rem;
}

.businesschange .title_same .businesschange_content {
  margin-top: 0.08rem;
  margin-bottom: 0.18rem;
  padding: 0 0.21rem;
  font-size: 0.09rem;
  color: #000;
  line-height: 0.16rem;
  text-align: center;
}

.getsuccess {
  background: url("../images/join/zsjm_6bg_mob.jpg") no-repeat center;
  background-size: cover;
  padding-bottom: 0.21rem;
}

.getsuccess .zsy_same_title {
  padding: 0;
  padding-top: 0.3rem;
  padding-bottom: 0.19rem;
}

.getsuccess .zsy_same_title h1 {
  font-size: 0.34rem;
  color: #fdd435;
  line-height: 0.41rem;
}

.getsuccess .zsy_same_title h3 {
  font-size: 0.16rem;
  color: #ffffff;
  border-color: #c0c2c6;
  width: 1.36rem;
  margin-top: 0.07rem;
}

.getsuccess .zsy_same_title span {
  color: #49495e;
  width: 1.65rem;
  font-size: 0.1rem;
  transform: scale(0.8);
  text-align: center;
}

.getsuccess .getsuccess_content .getsuccess_content_list {
  display: -webkit-flex;
  -webkit-justify-content: center;
  margin-bottom: 0.1rem;
}

.getsuccess .getsuccess_content .getsuccess_content_list .gs_content_list_left {
  width: 1.14rem;
  height: 1.1rem;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  font-size: 0.14rem;
  color: #000000;
  background: #fdd435;
}

.getsuccess .getsuccess_content .getsuccess_content_list .gs_content_list_center {
  width: 1.205rem;
  height: 1.1rem;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  background: rgba(61, 61, 101, 0.6);
}

.getsuccess .getsuccess_content .getsuccess_content_list .gs_content_list_center h3 {
  font-size: 0.12rem;
  color: #fdd435;
  line-height: 0.15rem;
  text-align: center;
}

.getsuccess .getsuccess_content .getsuccess_content_list .gs_content_list_center h3 span {
  font-size: 0.1rem;
  transform: scale(0.5);
  color: #b0853e;
  width: 1.3rem;
}

.getsuccess .getsuccess_content .getsuccess_content_list .gs_content_list_center p {
  font-size: 0.1rem;
  line-height: 0.2rem;
  color: #ffffff;
}

.getsuccess .getsuccess_content .getsuccess_content_list .gs_content_list_right img {
  width: 1.215rem;
  height: 1.1rem;
}

.productcenter {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
  padding-top: 0.24rem;
}

.productcenter .productcenter_title {
  background: #111146;
  width: 1.5rem;
  height: 1.36rem;
  padding: 0.37rem 0 0 0.23rem;
}

.productcenter .productcenter_title h3 {
  font-size: 0.1rem;
  color: #fdd435;
  line-height: 0.07rem;
  transform: scale(0.7);
  margin-left: -0.24rem;
  margin-bottom: 0.07rem;
}

.productcenter .productcenter_title h2 {
  font-size: 0.12rem;
  color: #fdd435;
  line-height: 0.15rem;
}

.productcenter .productcenter_title p {
  font-size: 0.1rem;
  color: #7b6841;
  line-height: 0.12rem;
  transform: scale(0.3);
  margin-left: -0.8rem;
  margin-top: -0.1rem;
}

.productcenter .productcenter_title i {
  font-size: 0.13rem;
  color: #886623;
}

.productcenter .product_list_same h4 {
  margin-bottom: 0.14rem;
}

.mogosevice .mogoservice_content {
  background: url("../images/join/zsjm_8bg_mob.jpg") no-repeat center;
  background-size: cover;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  padding: 0.65rem 0 0.58rem;
}

.mogosevice .mogoservice_content .mogoservice_content_list {
  width: 1.51rem;
  margin-left: 0.3rem;
}

.mogosevice .mogoservice_content .mogoservice_content_list h2 {
  font-size: 0.13rem;
  color: #fdd435;
  line-height: 0.18rem;
}

.mogosevice .mogoservice_content .mogoservice_content_list b {
  display: block;
  width: 0.17rem;
  height: 2px;
  background: #9393a8;
  margin-top: 0.03rem;
}

.mogosevice .mogoservice_content .mogoservice_content_list h3 {
  font-size: 0.05rem;
  color: #d6d6db;
  transform: scale(0.8);
  margin-left: -0.16rem;
}

.mogosevice .mogoservice_content .mogoservice_content_list p {
  color: #464662;
  font-size: 0.1rem;
  transform: scale(0.5);
  margin-left: -0.5rem;
  margin-top: -0.1rem;
}

.addme {
  padding: 0.27rem 0 0.34rem 0;
  background: #fdd435;
  text-align: center;
}

.addme .addme_title h3 {
  font-size: 0.24rem;
  color: #000000;
  line-height: 0.24rem;
  margin: 0 0 0.06rem;
}

.addme .addme_title p {
  font-size: 0.1rem;
  color: #000000;
  line-height: 0.15rem;
  width: 2.4rem;
  margin: 0 auto;
  transform: scale(0.8);
}

.companintro {
  background: url("../images/join/zsjm_10bg_mob.jpg") no-repeat center;
  background-size: cover;
  padding: 0.32rem 0.1rem 0.18rem;
}

.companintro .companintro_top h3 {
  font-size: 0.17rem;
  color: #fdd435;
  line-height: 0.17rem;
  margin-bottom: 0.1rem;
}

.companintro .companintro_top span {
  font-size: 0.13rem;
  color: #ffffff;
  line-height: 0.13rem;
  padding-bottom: 0.03rem;
  border-bottom: 2px solid #8c6d2a;
  margin-bottom: 0.14rem;
}

.companintro .companintro_top p {
  font-size: 0.12rem;
  color: #a7a8b6;
  line-height: 0.18rem;
}

.companintro .companintro_top p:nth-of-type(1) {
  margin-bottom: 0.15rem;
}

.companintro .companintro_top i {
  margin-top: 0.22rem;
  font-size: 0.14rem;
  color: #ffba00;
}

.companintro .companintro_main h3 {
  margin: 0.34rem 0 0.22rem;
  font-size: 0.2rem;
  color: #fdd435;
  line-height: 0.2rem;
  text-align: center;
}

.companintro .companintro_main .companintro_main_content {
  display: -webkit-flex;
  -webkit-justify-content: center;
}

.companintro .companintro_main .companintro_main_content .companintro_main_list {
  margin-right: 0.08rem;
}

.companintro .companintro_main .companintro_main_content .companintro_main_list img {
  width: 1.11rem;
  height: 1.58rem;
}

.companintro .companintro_main .companintro_main_content .companintro_main_list p {
  font-size: 0.12rem;
  color: #ffffff;
  line-height: 0.12rem;
  text-align: center;
  margin-top: 0.09rem;
}

.brandimage {
  padding: 0 0.1rem;
}

.brandimage .brandimage_content img {
  width: 3.55rem;
  height: 1.96rem;
}

.brandimage .brandimage_content .brandimage_content_list {
  margin-top: 0.11rem;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
}

.brandimage .brandimage_content .brandimage_content_list .brandimage_content_item {
  width: 1.75rem;
  height: 1.13rem;
  background: #cccccc;
}

.joinin {
  padding: 0 0.1rem;
}

.joinin .joinin_content {
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  -webkit-flex-wrap: wrap;
}

.joinin .joinin_content .joinin_content_list {
  width: 1.75rem;
  margin-bottom: 0.14rem;
}

.joinin .joinin_content .joinin_content_list img {
  width: 1.75rem;
  height: 1.13rem;
}

.joinin .joinin_content .joinin_content_list span {
  font-size: 0.12rem;
  color: #1d2533;
  line-height: 0.12rem;
  text-align: center;
  margin-top: 0.06rem;
}

.callus {
  margin-top: 0.16rem;
}

.callus .address_same {
  background: #fdd435;
}

.callus .address_same .address_same_all span {
  color: #d7b535;
}

.callus .address_same .address_same_btn {
  width: 2.74rem;
  line-height: 0.48rem;
  background: #c60202;
  border-radius: 0.02rem;
  font-size: 0.12rem;
  color: #ffffff;
  text-align: center;
  margin: 0.2rem  auto 0;
}
