header{
  i{
    font-size: 0.14rem;
  }
  p{
    font-size: 0.17rem;
    color:#000000;
    line-height: 0.17rem;
  }
}
section {
  background: #f5f5f5;
  .gcalin_detail{
    padding:0 0.1rem 0.37rem;
    .gcalin_detail_date{
      height:0.33rem;
      display: -webkit-flex;
      -webkit-justify-content: center;
      -webkit-align-items: center;
      border-bottom: 1px solid #f3f3f3;
      background: white;
      h3{
        font-size: 0.12rem;
        color:#3f3f3f;
        line-height: 0.12rem;
      }
    }
    .gcalin_detail_content{
      background: white;
      padding:0.21rem 0  0.37rem 0;
      .gcalin_detail_content_list{
        width:2.97rem;
        height:1.74rem;
        margin: 0.24rem auto 0;
        img{
          width:2.97rem;
          height:1.74rem;
        }
      }
      .gcalin_detail_content_list:first-of-type{
        margin-top:0;
      }
    }
  }
  .gcalin_online{
    background: white;
    padding-bottom: 0.14rem;
    .title_same{
      padding:0.35rem 0 0.21rem;
    }
  }
  .gcalin_news{
    padding: 0.25rem 0.1rem 0.27rem;
    .title_same{
      margin-bottom: 0.2rem;
    }
    .button_same{
      margin: 0.2rem auto 0;
    }
  }
  .address_same{
    background: white;
  }
}