header{
  i{
    font-size: 0.14rem;
  }
  p{
    font-size: 0.17rem;
    color:#000000;
    line-height: 0.17rem;
  }
}
section{
  .sameshop{
    margin-top: 0.44rem;
  }
  .online_addme{
    padding-top:0.22rem;
    background: #fdd330;
    margin-top: 0.35rem;
    padding-bottom: 0.36rem;
    .procenter_addme_title{
      border-bottom: 1px solid #e5bf32;
    }
  }
  .online_news{
    padding:0.22rem 0.1rem 0.27rem;
    background: #f3f3f3;
    .title_same{
      margin-bottom:0.19rem
    }
    .button_same{
      margin:0.2rem auto 0;
    }
  }
}